{% extends "inc/base.html" %}

{% block "content" %}
    <content class="col">

        <header class="d-flex align-items-center gap-4 mt-4">
            <h2 class="">New Questions</h2>
            <a href="{% url 'hot' %}">Hot questions</a>
        </header>

        {% for question in page_obj %}
            {% include "inc/question_card.html" with question=question %}
        {% endfor %}

        {% if is_paginated == True %}
            {% include "inc/pagination.html" %}
        {% endif %}
        
    </content>
{% endblock %}