{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content_name %}
    <h1>Log in</h1>
{% endblock %}

{% block content %}
    <div class="col-9">
        <div class="row mt-4">
            <div class="col-9 d-flex flex-column gap-2" style="height: 70vh;">
                <form action="" method="POST" class="d-flex flex-column gap-2 h-100">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log in!</button>
                    {% endbuttons %}
                    <div class="input-group mb-3" style="width: 150px; height: 150px;">
                        <a class="" href="{% url 'signup' %}">create new account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{#{% extends "inc/base.html" %}#}
{##}
{#{% block content %}#}
{##}
{#    <content class="col ms-5">#}
{##}
{#        <table class="table table-borderless">#}
{##}
{#            <tbody>#}
{##}
{#            <tr>#}
{#                <th style="width: 15%;" scope="row"></th>#}
{#                <td style="width: 40%;">#}
{#                    <header class="d-flex align-items-center gap-4 mt-2 mb-2">#}
{#                        <h2 class="">Log In</h2>#}
{#                    </header>#}
{#                </td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <th style="width: 15%;" scope="row"></th>#}
{#                <td style="width: 40%;">#}
{#                    <div class="input-group mb-3" style="width: 500px;">#}
{#                                    <span class="input-group-text border border-dark border-2" style="width: 120px;"#}
{#                                          id="inputGroup-sizing-default">Login</span>#}
{#                        <input type="text" class="form-control border border-dark border-2 border-start-0"#}
{#                               aria-label="Пример размера поля ввода"#}
{#                               aria-describedby="inputGroup-sizing-default">#}
{#                    </div>#}
{##}
{#                </td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <th scope="row"></th>#}
{#                <td>#}
{#                    <div class="input-group mb-3" style="width: 500px;">#}
{#                                    <span class="input-group-text border border-dark border-2" style="width: 120px;"#}
{#                                          id="inputGroup-sizing-default">Password</span>#}
{#                        <input type="password" class="form-control border border-dark border-2 border-start-0"#}
{#                               aria-label="Пример размера поля ввода"#}
{#                               aria-describedby="inputGroup-sizing-default">#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <th scope="row"></th>#}
{#                <td colspan="2">#}
{#                    <div class="form-floating mb-3">#}
{#                        <button class="btn btn-outline-success border-sucess border-2"#}
{#                                type="submit">Log In!#}
{#                        </button>#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <th scope="row"></th>#}
{#                <td colspan="">#}
{#                    <div class="input-group mb-3" style="width: 150px; height: 150px;">#}
{#                        <a class="" href="{% url 'signup' %}">create new account</a>#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
{##}
{#            </tbody>#}
{##}
{#        </table>#}
{##}
{##}
{#    </content>#}
{##}
{##}
{#{% endblock %}#}

{#    {% extends "inc/base.html" %}#}
{#    {% load bootstrap5 %}#}
{#    {% block content %}#}
{##}
{#        <h2>Вход</h2>#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            {% bootstrap_form form %}#}
{#            {% buttons %}#}
{#                <button type="submit" class="btn btn-primary">Войти</button>#}
{#            {% endbuttons %}#}
{#        </form>#}
{##}
{#    {% endblock %}#}