{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}
        {% block content %}

            <content class="col">

                <question class="d-flex pt-2 border-bottom border-dark border-1">
                    <div class="">
                        <div class=" m-3" style="width: 125px; height: 125px;">
                            <img class="img-thumbnail border border-dark" src="{% static 'img/ask.png' %}" alt="ask ilustration">
                        </div>
                        <div class="m-3 border-dark ">
                            <a class="">
                                <input name="like" type="number" value="{{ question.like_sum|default_if_none:"0" }}" style="width: 40px;">
                            </a>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="dcard-body ">
                            <h2 class="card-title">{{ question.title }}</h2>
                            <p class="card-text">{{ question.text }}</p>
                        </div>
                        <div class="mt-2">
                            <p class="card-text">
                                <span class="me-3">Tags:</span>
                                <span>
                                    {% for tag in question.tags.all %}
                                        <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                                    {% endfor %}
                                </span>
                            </p>
                        </div>
                    </div>
                </question>

                <div class="border-bottom border-dark border-1 pb-3">


                    {% for answer in page_obj %}
                        {% include "inc/answer_card.html"%}
                    {% endfor %}

                    {% if is_paginated == True %}
                        {% include "inc/pagination.html" %}
                    {% endif %}


                </div>


                <answer>
                    <form action="#" method="POST" class="d-flex flex-column mt-3 gap-2">
                        {% csrf_token %}
                        <div class="input-group mb-3" style="height: 100px;">
                            {% bootstrap_form form form_group_class="border border-dark border-2 input-group mb-3 rounded" %}
                        </div>
                        {% buttons %}
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Answer</button>
                        {% endbuttons %}
                    </form>
                </answer>


            </content>

        {% endblock %}