
{% extends "inc/base.html" %}
{% load static %}
        {% block "content" %}

            <content class="col">

                <question class="d-flex pt-2 border-bottom border-dark border-1">
                    <div class="">
                        <div class=" m-3" style="width: 125px; height: 125px;">
                            <img class="img-thumbnail border border-dark" src="{% static 'img/ask.png' %}" alt="ask ilustration">
                        </div>
                        <div class="m-3 border-dark ">
                            <a class="">
                                <input name="like" type="number" value="1" style="width: 40px;">
                            </a>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="dcard-body ">
                            <h2 class="card-title">{{ question.title }}</h2>
                            <p class="card-text">{{ question.text }}</p>
                        </div>
                        <div class="mt-2">
                            <p class="card-text">
                                <span class="me-3">Tags:</span>
                                <span>
                                    <span><a href="#">{{ question.tag_name }}</a></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </question>

                <div class="border-bottom border-dark border-1 pb-3">


                    {% for answer in page_obj %}
                        {% include "inc/answer_card.html"%}
                    {% endfor %}

                    {% if is_paginated == True %}
                        {% include "inc/pagination.html" %}
                    {% endif %}


                </div>


                <answer>
                    <div class="form-floating mt-3">
                        <textarea class="form-control border border-dark border-2" placeholder="Оставьте комментарий здесь" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter our answer here...</label>
                    </div>

                    <div class="form-floating mt-3 mb-3">
                        <button class="btn btn-outline-success border-sucess border-2" type="submit">Answer</button>
                    </div>
                </answer>


            </content>

        {% endblock %}