{% extends "inc/base.html" %}

        {% block content %}

            <content class="col">

                <header class="d-flex align-items-center gap-4 m-2 ">
                    <h2 class="">Tag:</h2>
                    <h2 class="">{{ page_title }}</h2>
                </header>

                {% for question in page_obj %}
                    {% include "inc/question_card.html" with question=question %}
                {% endfor %}

                {% if is_paginated == True %}
                    {% include "inc/pagination.html" %}
                {% endif %}

            </content>

        {% endblock %}
