{% load static %}
{% block answer %}

    <answer class="card mt-3 d-flex  border border-2 border-dark">
        <div class="d-flex">
            <div class="">
                <div class=" m-3" style="width: 75px; height: 75px;">
                    <img class="img-thumbnail border border-dark" src="{% static 'img/ask.png' %}" alt="ask ilustration">
                </div>
                <div class="m-3 border-dark ">
                    <a class="">
                        <input name="like" type="number" value="{{ answer.like_sum|default_if_none:"0" }}" style="width: 40px;">
                    </a>
                </div>
            </div>
            <div class="p-3">
                <div class="dcard-body ">
                    <p class="card-text">{{ answer.text }}</p>
                </div>
                <div class="mt-2">
                    <input type="checkbox" name="correct" id="correkt_comment">
                    <span>Correct!</span>
                </div>
            </div>
        </div>
    </answer>

{% endblock %}